.navbar {
  background: #012999;
  height: 5.25vw;
  min-height: 60px;
  display: flex;
  font-size: 1.9vw;
  position: sticky;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-logo-img-container {
  height: 15vw;
  width: 15vw;
  min-width: 200px;
  min-height: 40vw;
  text-align: center;
}

.navbar-logo-img {
  height: 100%;
  width: 100%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.75vw;
  list-style: none;
  width: 60vw;
  justify-content: end;
  margin-right: 30px;
}

.nav-links {
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 0.3vw solid #ffce00;
  transition: all 0.2s ease-out;
}

.nav-logBut {
  display: flex;
}

.nav-log-icon {
  height: 3.5vw;
  width: 3.5vw; 
  min-width: 50px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/header-user.svg");
  display: inline-block;
  position: relative;
}

.nav-log-icon:hover {
  background-image: url("../images/header-user-selected.svg");
}

@media screen and (max-width: 1110px) {

  .nav-menu {
    transition: all 0.5s ease;
    display: none;
  }

  .nav-logBut {
    display: none;
  }
}
