.UltimosClas {
    background-color: #eee;
    height: 70vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 999;
    animation: fadein .5s;
}

.UltimosClas-container {
    background-color: #fff;
    height: 68vw;
    width: 90vw;
    border-radius: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UltimosClas-leftside {
    /* background-color: cornflowerblue; */
    height: 68vw;
    width: 45vw;
}

.UltimosClas-leftside-bloco-1{
    /* background-color: #012999; */
    border-radius: 1.25vw;
    height: 28vw;
    width: 36vw;
    margin-top: 2.5vw;
    margin-left: 4.5vw;
    cursor: pointer;
    color: #fff;
}

.UltimosClas-leftside-bloco-1:hover > .UltimosClas-leftside-bloco-1-titulo {
    background-color: #ffce00;
    color: #000;
}

.UltimosClas-leftside-bloco-1-titulo {
    background-color: #012999;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    width: 100%;
    height: 4vw;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

.UltimosClas-leftside-bloco-1-titulo-p {
    /* color: #fff; */
    font-weight: 600;
    font-size: calc(0.5rem + 1.2vw);
    /* margin-top: 0; */
}

.UltimosClas-leftside-bloco-1-imagem {
    /* background-color: deeppink; */
    width: 100%;
    height: 20vw;
    /* border-radius: 1vw; */
}

.UltimosClas-leftside-bloco-1-img {
    /* width: 43vw; */
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.UltimosClas-leftside-bloco-1-txt {
    /* background-color: #012999; */
    width: 100%;
    height: 4vw;
    color: #000;
    font-weight: 300;
    margin-top: 0;
    text-align: start;
    justify-content: flex-start;
    justify-items: center;
    /* align-items: center; */
    display: flex;
    font-size: calc(0.3rem + 0.9vw);
}

.UltimosClas-leftside-bloco-1-txt-p {
    margin-left: 0.3vw;
    margin-top: 0;
}

.UltimosClas-rightside {
    /* background-color: aqua; */
    height: 68vw;
    width: 45vw;
}

.UltimosClas-rightside-arrows {
    width: 100%;
    height: 7vw;
    /* background-color: #ffce00; */
    /* align-items: center;
    justify-content: end;
    justify-self: end;
    text-align: end; */
}

.UltimosClas-rightside-arrows-box {
    width: fit-content;
    /* background-color: brown; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-top: 1vw;
    margin-left: 33vw;

}

.UltimosClas-rightside-arrows-left {
    height: 6vw;
    width: 6vw; 
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/seta-left.svg");
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.UltimosClas-rightside-arrows-left:hover {
    background-image: url("../images/seta-left-selected.svg");
}

.UltimosClas-rightside-arrows-right {
    height: 6vw;
    width: 6vw; 
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/seta-right.svg");
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.UltimosClas-rightside-arrows-right:hover {
    background-image: url("../images/seta-right-selected.svg");
}